    <div class="dashboard-container">
      <div class="dashboard-wrap shadow">
        <div class="dashboard ver1">
          <div class="dashboard-head">
            <table>
              <thead>
                <tr class="dashboard head">
                  <th class="cell100 column1">Coin</th>
                  <th class="cell100 column2">Holdings</th>
                  <th class="cell100 column3">Price</th>
                  <th class="cell100 column4">Charts</th>
                  <th class="cell100 column5">24hr</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="dashboard-body">
            <table>
              <tbody>
                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>
                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">BTC</td>
                  <td class="cell100 column2">$4300<br>B .5 2.5%</td>
                  <td class="cell100 column3">$8600<br>5%</td>
                  <td class="cell100 column4"><%= image_tag "tradingview-icon.png", class: "trading-view" %></td>
                  <td class="cell100 column5">10</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
