<!-- <header class="header">
  <div class="container">
    <h1 class="logo">Vini</h1>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</header> -->
<div class="banner">
  <p>CoinTrail</p>
  <div>
    <div id="typed-strings">
      <p>Track your Crypto Portfolio.</p><br>
      <p>Across <em>any</em> exchange</p><br>
    </div>
    <span id="typed6"></span>
  </div>
  <div class="banner-btn">
    <%= link_to "Learn More", root_path(anchor: "learn-more"), class: "btn btn-success" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
  </div>
</div>


<div class="container">
  <div id="learn-more">
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <img class="card-img-top" src="https://bittrex.com/Content/img/Lineage/illustration-algorithmic-trading.svg" alt="">
          <div class="card-body">
            <h4 class="card-title">
              About Us
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <img class="card-img-top" src="https://bittrex.com/Content/img/Lineage/illustration-algorithmic-trading.svg" alt="">
          <div class="card-body">
            <h4 class="card-title">
              What we do
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <img class="card-img-top" src="https://bittrex.com/Content/img/Lineage/illustration-algorithmic-trading.svg" alt="">
          <div class="card-body">
            <h4 class="card-title">
              Security
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-signup">
  <h2>Sign up</h2>
  <div id="form-inputs">
    <!-- TODO: add sign up form -->
    <%= simple_form_for(:user, :url => session_path(:user))  do |f| %>
    <%= f.input :email, placeholder: 'user@domain.com', required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>
  <div id="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
  <% end %>
</div>


