<div class="container">
  <h1>Your Profile </h1>
    <div class="row">
  <div class="col-md-3">
    <div class="text-center">
      <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
    </div>
    <hr>
      </div>
      <!-- left column -->
      <div class="col-md-9" id="profile">
      <h3> 
        <% if current_user.first_name.nil? %>
        <%= "Please edit your profile" %>
        <% else %>
        <%= current_user.first_name.upcase %> <%= current_user.last_name.upcase %>
        <% end %>
      </h3>
        <div id="profile-display">
          Email: <%= current_user.email%><br>
          Location: <%= current_user.location  %><br>
          Phone number: <%= current_user.phone_number %><br>
        <%= link_to "Edit Profile", edit_user_registration_path(@current_user), class: "btn btn-success" %><br>
      </div>
    </div>
  </div>
    </div>
<hr>
