<div class="container">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Apis new</h1>
    <% if @exchanges.present? %>
    <%= simple_form_for @api do |f| %>
    <%= f.collection_select :exchange_id, @exchanges, :id, :name, prompt: "Select Exchange", label:false %>
    <%= f.input :publishable_key %>
    <%= f.input :secret_key %>
    <%= f.button :submit %>
    <% end %>
    <% else %>
    <% @apis.each do |api| %>
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><%= api.exchange.name %></h4>
        </div>
          <div class="panel-body">
            <h4>Publishable Key</h4>
            <p><%= api.publishable_key.sub(/(?<=\A.{4})(.*)(?=.{0}\z)/) { |match| '*' * match.length } %></p>
            <h4>Secret Key</h4>
            <p><%= api.secret_key.sub(/(?<=\A.{0})(.*)(?=.{0}\z)/) { |match| '*' * match.length } %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

