<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <title>CoinTrail</title>
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="content">
    <%= yield %>
  </div>

  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
